{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<br>
<h2> Befragung zur Wahrnehmung von Politikerinnen </h2>
    <hr>
    <b>Bitte schauen Sie sich diese Person für mindestens 3 Sekunden genau an und beantworten Sie dann die Fragen.</b>
    <hr>
    <!-- create a image path variable-->
    <script>
        // Fetch player group
        var playerGroup = {{ player.group_assignment }};
        console.log(playerGroup);
        
        // Define available pictures for each group
        var groupPictures = {
            0: ['P_1.jpg', 'P_2.jpg'],
            1: ['P_3.jpg', 'P_4.jpg'],
            2: ['P_5.jpg', 'P_6.jpg'],
            3: ['P_7.jpg', 'P_8.jpg']
        };
        console.log(groupPictures);
    
        // Select a random picture from the available pictures for the player's group
        var availablePictures = groupPictures[playerGroup];
        var randomIndex = Math.floor(Math.random() * availablePictures.length);
        var selectedPicture = availablePictures[randomIndex];
        console.log(selectedPicture);
    
        // Hardcoded static URL path
        var staticPath = "/static/Group_" + playerGroup + "/";

        // Dynamically generate the image path
        var imagePath = staticPath + selectedPicture;
        console.log(imagePath);

    </script>

 
    <!-- Create empty image container -->
    <img id="politician" width="50%" height="50%" src="" />
    
    <script>
        
        // Set the image path dynamically
        document.getElementById("politician").src = imagePath;
    </script>
    <br>
    <br>
    <br>

<!-- Hidden popout question initially -->
    <div id="popout-question" style="display: none;">
        <br>
        <p><b>Wie schätzen Sie die Kompetenz dieser Politikerin ein?</b></p>

        <!-- Form for the answer choices -->
        <form method="post">

            <table style="border-collapse: collapse; text-align: center; width: 60%; table-layout: fixed;">
                <thead>
                    <tr>
                        <th style="width: 20%;"></th>
                        <th style="padding: 10px; font-size: 16px;">1</th>
                        <th style="padding: 10px; font-size: 16px;">2</th>
                        <th style="padding: 10px; font-size: 16px;">3</th>
                        <th style="padding: 10px; font-size: 16px;">4</th>
                        <th style="padding: 10px; font-size: 16px;">5</th>
                        <th style="width: 20%;"></th>
                        <th style="padding: 10px; font-size: 16px;">Keine Eingabe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: right;">Überhaupt nicht kompetent</td>
                        <td><input type="radio" name="popout_question_competence" value="1" {% if player.popout_question_competence == 1 %} checked {% endif %}></td>
                        <td><input type="radio" name="popout_question_competence" value="2" {% if player.popout_question_competence == 2 %} checked {% endif %}></td>
                        <td><input type="radio" name="popout_question_competence" value="3" {% if player.popout_question_competence == 3 %} checked {% endif %}></td>
                        <td><input type="radio" name="popout_question_competence" value="4" {% if player.popout_question_competence == 4 %} checked {% endif %}></td>
                        <td><input type="radio" name="popout_question_competence" value="5" {% if player.popout_question_competence == 5 %} checked {% endif %}></td>
                        <td style="text-align: left;">Sehr kompetent</td>
                        <td><input type="radio" name="popout_question_competence" value="-1" {% if player.popout_question_competence == -1 %} checked {% endif %}></td>
                    </tr>
                </tbody>
            </table>

            <div class="form-errors">
                {{ formfield_errors 'popout_question_competence' }}
            </div>

            <button class="otree-btn-next btn btn-primary">Weiter</button>
        </form>
    </div>

    <!-- Add JavaScript to show the popout after 3 seconds -->
    <script>
        setTimeout(function() {
            // Show the popout question after 3 seconds
            document.getElementById("popout-question").style.display = "block";
        }, 3000);  // 3000 milliseconds = 3 seconds
    </script>
{% endblock %}